/* 注意字体声明的路径  相对于fonts文件夹来说 */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?y0f09b');
    src: url('../fonts/icomoon.eot?y0f09b#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?y0f09b') format('truetype'),
        url('../fonts/icomoon.woff?y0f09b') format('woff'),
        url('../fonts/icomoon.svg?y0f09b#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
.w {
    width: 1200px;
    margin: 0 auto;
}
/* 快捷导航 */
.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}
.shortcut ul li {
    float: left;
}
.red {
    color:red ;
}
.shortcut .fl {
    float: left;
    font-size: 12px;
    color: #0a0808;
}
.shortcut .fr {
    float: right;
    font-size: 12px;
    color: #666666;
}
.shortcut .fr ul li:nth-child(even){
    width: 1px;
    height: 14px;
    background-color: #666666;
    margin: 8px 15px;
}
.shortcut .fr .icon::after{
    content: "\ea50";
    font-family: "icomoon";
    /* font-size: 16px; */
    color: #666666;
    margin-left: 5px;
}

.header{
    position: relative;
    height: 105px;
    /* background-color: pink; */
    
}
.header .logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
   
    background: url(../images/logo.png) no-repeat;
}
.header .logo a{
   /* 链接是给图片加的，要设置宽高、给a设置宽高必须转换或块级元素 */
    display: block;
    width: 171px;
    height: 61px;
    /* 使链接的文字消失  1.京东做法 */
    font-size: 0;
    /* 2.淘宝做法 */
    /* text-indent: -9999em; */
}
.header .search {
    position: absolute;
    left: 346px;
    top:25px;
    width: 538px;
    height: 36px;
    border: 2px solid #C81523;
}
.header .search input {
    /* 加浮动的原因：input、button都是行内元素，但是中间会有空隙 */
   float: left;
    width: 454px;
    height: 32px;
    padding-left:10px ;
    /* 去掉边框可以放到初始化里面 */
    border: none;
    outline: none;
}
.header .search button {
    float: left;
    width: 80px;
    height: 32px;

    font-size: 16px;
    color: #ffffff;
    background-color: #C81523;
    outline: none;
    border: none;
}
.header .hotwords {
    position: absolute;
    left: 346px;
    top: 64px;
    
}
.header .hotwords ul li {
    float: left;
    padding:0 10px;
    font-size: 12px;
}
.header .shopcar {
    position: absolute;
    right: 60px;
    top:25px;

    line-height: 35px;
    width: 140px;
    height: 35px;
    text-align: center;

    border:2px solid #dfdfdf;
    background-color: #f7f7f7;
}
.header .shopcar::before {
    content: '1';
    font-family: 'icomoon';
    margin-right: 5px;
}
.header .shopcar::after {
    content: '2';
    font-family: 'icomoon';
    margin-left: 5px;
}

.nav {
    height: 42px;
    line-height:42px;
    /* background-color: pink; */
    border-bottom: 2px solid #C81523;
}
.nav .dropdown {
    position: relative;
    float: left;
    width: 210px;
}
.nav .dropdown .dt {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #B1191A; 
    font-size:16px ;
}
/* .nav .dropdown .dt:hover .dd{
    /* display: block; 
    display: none;
   
} */
.nav .dropdown .dd {
    /* display: none; */
    /* height: 465px;   */
    background-color: #c81623;
    
}
.nav .dropdown .dd ul li a{
    display: inline-block;
    width: 210px;
    height: 31px;
    line-height: 31px;
    /* margin-left: 30px; */
    padding:0 30px;

    font-size: 14px;
    color: #ffffff;
}
.nav .dropdown .dd ul li::after {
    position: absolute;
    right: 15px;

    content: '\ea52';
    font-family:'icomoon';
    color: #ffffff;
    
}
.nav .dropdown .dd ul li a:hover {
    background-color: #ffffff;
    color:#c81623 ;
}
/* 这里在处理鼠标覆盖时，有两种写法:
        1.当没有设置链接的宽度时，链接的作用范围只有文字，文字和li的距离用的是margin
        .nav .dropdown .dd ul li:hover {
             background-color: #ffffff;   
        }
        .nav .dropdown .dd ul li:hover a{
            color:#c81623;
        } 
        2.当设置了链接的宽度是li的宽度，链接作用范围是整个li，文字和li的距离用的是padding
        .nav .dropdown .dd ul li a:hover {
        background-color: #ffffff;
        color:#c81623 ;
        }

我采用的是第二种写法，更简单一些，需要注意的是
写文字链接和li前面的间距时：
        margin 是把链接这个盒子往右移动了，移动的距离不属于链接的作用范围
        padding 是把内容和盒子间的距离增大，移动的距离仍然属于链接的作用范围
*/

.nav .navitems {

    float: left;
    margin-left: 5px;
    /* width:1000px; */

    font-size:16px ;
    color: #000;  
}
.nav .navitems ul li {
    float: left;
}
.nav .navitems ul li a {
    padding: 0 20px;
}
.footer {
    margin-top: 10px;
    height: 415px;
    background-color: #EAEAEA;
}
.mod_service {
    height: 80px;
    border-bottom: 2px solid #E4E1E1;
}
.mod_service ul li {
    float: left;
    padding:15px 32px;

    width: 240px;
    text-align: center;
  
    line-height: 25px; 
}
.mod_service ul li h5 {
    float: left;

    width: 50px;
    height:52px;
    /* border-radius: 25px;
    background-color: #c81623; */
    background: url(../images/icons.png) no-repeat ; 
}
.mod_service ul li:nth-of-type(1) h5{
    background-position: -252px 0;
 }
.mod_service ul li:nth-of-type(2) h5{
   background-position: -254px -54px;
}
.mod_service ul li:nth-of-type(3) h5{
    background-position: -255px -105px;
 }
 .mod_service ul li:nth-of-type(4) h5{
    background-position: -258px -157px;
 }
 .mod_service ul li:nth-of-type(5) h5{
    background-position: -256px -209px;
 }
/*注意上面和下面的区别  下面的不行
 .mod_service ul li .icon:nth-of-type(2) {
    background-position: -254px -54px;
}   */
.mod_service ul li .slogan {
/* 左盒子浮动了，右盒子里的文字就可以进行文字环绕了 */
     margin-left: 1px; 
   
}

.mod_service ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.mod_message {
    height: 167px;
    border-bottom: 2px solid #E4E1E1;
    padding: 25px 80px;
}
.mod_message dl {
     float: left;
     /* 除了给padding也可以直接指定宽度 */
     padding:0 50px; 
}
.mod_message dl dt {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333333;
}
.mod_message dl dd {
    font-size: 12px;
    line-height: 20px;
}
.mod_footer {
    text-align: center;
    margin-top: 20px;
}
  .mod_footer .links {
     height: 30px;
    
}  
.mod_footer ul li {
  
   /* 这里不用浮动 ，否则很难居中对齐，直接设置为行内快元素*/
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #666666;
    font-size: 12px;
}
.mod_footer ul li:last-child{
    border:none;
}
/* .mod_footer .address {} */
.mod_footer .copyright {
    margin-top: 10px;
}