.main {
    width: 985px;
    height: 455px;
    /* background-color: pink; */
    margin-left: 215px;
    
}
.main .lunbo {
   
    float: left;
    width: 721px;
    /* 这里的高度不能继承？ */
    height: 455px;
    background-color:skyblue;
}
.main .news{
    float:right;
    width: 250px;
    height: 455px;
    margin-left: 5px;
    
}
.news .kuaibao {
    height: 165px;
    border: 2px solid #E4E4E4;
}
.news .kuaibao dl dt {
    height: 35px;
    line-height:35px;
    padding-left: 10px;
    border-bottom:2px solid #E4E4E4 ;

    font-size: 16px;
    font-weight: 700;
}
.news .kuaibao dl dt span {
    float: right;
    font-size: 12px;
}
.news .kuaibao dl dt span::after {
    content: '\ea51';
    font-family: 'icomoon';
}
.news .kuaibao dl dd {
    padding-left: 10px;
    line-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.news .kuaibao dl dd span {
    font-weight: 700;
}
.lifeservice {
    height:200px;
    border:2px solid #E4E4E4;
    border-top: 0;
}
/* 对于第四个li掉下来的方法：给ul加足够宽度 */
.lifeservice ul {
    width: 255px;
    overflow: hidden;
}
.lifeservice ul li {
    float: left;
    width: 62px;
    height: 66px;
    text-align: center;
    border-right: 1px solid #E4E4E4;
    border-bottom:1px solid #E4E4E4;

}
.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -15px -15px;
}
.bargin {
    margin-top: 10px;
}
.recommend{
    
    height: 164px;
    margin-top: 10px;
}
.recom-hd {
    float: left;
    width: 200px;
    height: 164px;
    text-align: center;
    padding-top: 30px;
    background-color:#5C5251;
}
.recom-hd p {
    
    margin-top: 10px;
    margin-left: -10px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.recom-bd {
    float: right;
    width: 1000px;
    height: 164px;
    background-color: skyblue;
    
}
.recom-bd ul li {
    width: 250px;
    float: left;
}
.recom-bd ul li img {

    width: 100%;
}
.floor .jiadian {
    margin-top: 28px;
}
/* 身体不给高度 */
.floor .jiadian .box-hd {
    height: 35px;
    border-bottom:2px solid #C81623;
}
.floor .jiadian .box-bd {
    height: 378px;
    border-bottom:2px solid #9892B5;
   
}
.jiadian .box-hd h3 {
    float: left;
    color:#C81623;
    font-size: 18px;
}
.jiadian .box-hd ul {
    
    float:right;
}
.jiadian .box-hd ul li {
    float: left;
  
    text-align: center;
    line-height: 35px;
   
}
.jiadian .box-hd ul li a{
    padding:0 15px;
    border-right: 1px solid #9892B5;
}
.jiadian .box-hd ul li:last-child a{
    border:none;
}
/* 左 */
.jiadian .left {
    float: left;
    width: 207px;
    padding-top: 10px;
  
}
.jiadian .left .hd li {
    float: left;
    width: 76px;
    text-align:center;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #E4E4E4;
    margin-left: 5px;    
}
/* 中 */
.jiadian .center {
    float: left;
    width: 329px;
}
.jiadian .center img {
    width: 100%;
}
/* 右 */
.jiadian .right {
    float: left;
    width: 664px;
} 
.jiadian .right .r-left {
    float: left;
    width: 220px;
}
.jiadian .right .r-left li:nth-child(2){
    border: none;
}
.jiadian .right .r-center {
    float: left;
     width: 220px;
     border-left: 1px solid #E4E4E4;
     border-right: 1px solid #E4E4E4;
    /* height: 329px;  */
}
.jiadian .right .r-right {
    float: left;
    width: 220px;
}
.jiadian .right .r-right li:nth-child(2) {
    border: none;
}
.jiadian .right ul li {
    float: left;
    width: 220px;
    height: 182px;
  
    border-bottom: 2px solid #E4E4E4;
   
}
.jiadian .right  img {
    width: 100%;
    height: 100%;
}

/* .jiadian .bd {
    width: 187px;
    height: 265px;
} */